body {
    height:150px;
    width:100%;
    overflow:hidden;
}

textarea {
    width:100%;
    height:150px;
    border:none;
    margin:0;
    white-space: pre;
    overflow: auto;
    padding: 0;
}

textarea:focus{
    outline:none;
}