#selectionOptions {
    display:none;
}

textarea{
    width:100%;
    height:100%;
    border:none;
    margin:0;
}

label[for] {
    -webkit-user-select: none;
}

pre{
    background:#666;
    color:#fff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:5px;
    padding-right:5px;
    border-radius:8px;
}

pre:hover{
    background:#555;
}

.options{
    float:left;
    width:30%;
    margin-right:4%;
    margin-left:2%;
}

.preview{
    float:left;
    width:60%;
}


/*
* Thanks Chris Coyier! You Rock!
* http://css-tricks.com/functional-css-tabs-revisited/
*/

.tabs {
    position: relative;
    min-height: 500px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}
.tab {
    float: left;
}
.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    cursor:pointer;
    -webkit-user-select: none;
}
.tab [type=radio] {
    display: none;
}
.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}